body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

/* HEADER */
header {
    background: #FFFFFF;
}


.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #212121;
}

.logo-blue {
    color: #2196F3;
}

.menu-list {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
}

/*------------------------------------*/


.main {
    background: #2F303A;
    color: #FFFFFF;   
    align-items: center;
}

.main-header {
    text-align: center;
    font-weight: 900;
    font-size: 44px;
}

.main > button{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    background-color: #2196F3;
    color: #FFFFFF;
}

/* LOREM IPSUM +++ */
.lorem {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.lorem-list {
    text-align: left; 
    display: inline-block;
    font-weight: 400;
    list-style-type: none;
}

.lorem-color {
    color: #757575;
}


/* Czym się zajmujemy */
.working {
    text-align: center;
}

.header-second {
    font-weight: 700;
    font-size: 36px;
}
  
/* Nasz zespół */
.our-team {
    background: #F5F4FA;
    text-align: center; 
}

.our-team > .team {
    display: inline-block;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    position: block;
    width: 270px;
    height: 368px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;  
}

.our-team  .team > .team-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #757575;
}

/* Portfolio Filter +++ */

.button-filtr {
    list-style-type: none; 
    font-weight: 500;
    font-size: 16px;
    text-align: center; 
}

.filter-item {
    display: inline-block;
    text-align: center;
    list-style-type: none;
}

.filter-item h3 {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

.filter-item p {
    color: #757575;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
}

/* Przyciski i linki */

button {
    cursor: pointer;
}

.main button:active , .main button:hover, .button-filtr button:active, .button-filtr button:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #757575
}

.link:active, .link:hover, .link-menu:active, .link-menu:hover {
   color: #2196F3; 
}

.link-menu {
    text-decoration: none;
    cursor: pointer;
    color: #212121;
}


/* FOOTER */
footer {
    background: #2F303A;
}

footer > address {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 24px;
}

.logo-white {
   color: #FFFFFF; 
}