body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.container {
  width: 1200px;
  align-items: center;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue {
  color: #2196f3;
}

.navigation {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
}

.adress {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon {
  fill: currentcolor;
  margin-right: 10px;
}

.menu-list-item:not(:last-child) {
  margin-right: 46px;
}

.adress a:not(:last-child) {
  margin-right: 50px;
}
/*------------------------------------*/

.bg-image {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  max-width: 696px;
  letter-spacing: 0.06em;
}

.main > button {
  font-weight: 700;
  font-size: 16px;
  background-color: #2196f3;
  color: #ffffff;
}

.header-button {
  padding: 10px 41px;
  border: 0px;
  Font style: Bold;
  Font size: 16px;
  border-radius: 4px;
}

/* LOREM IPSUM +++ */
.lorem {
  display: block;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.lorem-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: 400;
  list-style-type: none;
}

.lorem-item {
  width: 270px;
  height: 120px;
}

.lorem-color {
  color: #757575;
  Font size: 14px;
}

.lorem-pad {
  padding-bottom: 0px;
}

.icon-lorem-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.icon-lorem-item {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.icon-lorem {
  width: 70px;
  height: 70px;
}


/* Czym się zajmujemy */
.working {
  text-align: center;
}

.header-second {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
}

.working-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.working-item:not(:last-child) {
  margin-right: 30px;
}

/* Nasz zespół */
.our-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-team-bg {
  background: #f5f4fa;
}

.our-team > .team {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  position: block;
  width: 270px;
  height: 368px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.our-team .team > .team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.our-team div:not(:last-child) {
  margin-right: 30px;
}

.icon-social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.icon-social-item {
  fill: #afb1b8;
  display: flex;
  justify-content: space-around;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background-color: #2196f3;
}

.social:hover svg {
  fill: #fff;
}

/* Nasi klienci */

.icon-client-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.icon-client-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-client {
  width: 106px;
  height: 60.04px;
  fill: #AFB1B8;
}

.icon-client-item:hover,
.icon-client-item:hover svg {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

/* Portfolio Filter +++ */

.button-filtr {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 34px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.filter h3 {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 24px 4px;
  margin-top: 0px;
}

.filter p {
  color: #757575;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 24px 20px;
}

.filter-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.button-filtr-item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
}

.container .button-filtr {
  align-items: center;
}

.filter-item-header {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.filter .filter-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}


/* Przyciski i linki */

button {
  cursor: pointer;
}

.main button:active,
.main button:hover,
.button-filtr button:active,
.button-filtr button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}

.link:active,
.link:hover,
.link-menu:active,
.link-menu:hover {
  color: #2196f3;
}

.link-menu {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

/* FOOTER */
footer {
  background: #2f303a;
}

footer > address {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
}

.logo-white {
  color: #ffffff;
}

.footer .container {
  display: flex;
  padding-top: 60px;
  align-items: start;
}

address p:not(:last-child) {
  margin-bottom: 9px;
}

.footer-white {
  color: white;
}

.address {
  display: inline-block;
  margin-bottom: 60px;
  font-style: normal;
}

.footer h3 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-left: 70px;
  display: block;
  text-transform: uppercase;
}

.icon-footer-list {
  display: flex;
  align-items: center;
  margin-left: 55px;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  color: #FFF;
}

.footer-social-icon:hover {
  background-color: #2196f3;
}

.footer-social-icon:hover svg {
  fill: #FFF;
}
