body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

.container {
  width: 1200px;
  align-items: center;
  margin: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-blue {
  color: #2196f3;
}

.navigation {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
}

.adress {
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.icon {
  fill: currentcolor;
  margin-right: 10px;
}

.menu-list-item:not(:last-child) {
  margin-right: 46px;
}

.adress a:not(:last-child) {
  margin-right: 50px;
}

.active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  top: 33px;
}


/*------------------------------------*/

.bg-image {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
  background-size: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  color: #ffffff;
  max-width: 696px;
  letter-spacing: 0.06em;
}

.main > button {
  font-weight: 700;
  font-size: 16px;
  background-color: #2196f3;
  color: #ffffff;
}

.header-button {
  padding: 10px 41px;
  border: 0px;
  Font size: 16px;
  border-radius: 4px;
}

/* LOREM IPSUM +++ */
.lorem {
  display: block;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
}

.lorem-list {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-weight: 400;
  list-style-type: none;
}

.lorem-item {
  width: 270px;
  height: 120px;
}

.lorem-color {
  color: #757575;
  Font size: 14px;
}

.lorem-pad {
  padding-bottom: 0px;
}

.icon-lorem-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.icon-lorem-item {
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.icon-lorem {
  width: 70px;
  height: 70px;
}


/* Czym się zajmujemy */
.working {
  text-align: center;
}

.header-second {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
}

.working-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}


.working-item:not(:last-child) {
  margin-right: 30px;
}

.working-item {
  position: relative;
}

.working-item-overlay {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #fff;
  top: 75%;
}


/* Nasz zespół */
.our-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-team-bg {
  background: #f5f4fa;
}

.our-team > .team {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.our-team .team > .team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #757575;
}

.our-team div:not(:last-child) {
  margin-right: 30px;
}

.icon-social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 30px;
  
}

.icon-social-item {
  display: flex;
  justify-content: space-around;
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.social {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social:hover {
  background-color: #2196f3;
}

.social:hover svg {
  fill: #fff;
}



/* Nasi klienci */

.icon-client-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.icon-client-item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-client {
  width: 106px;
  height: 60.04px;
  fill: #AFB1B8;
}

.icon-client-item:hover,
.icon-client-item:hover svg {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}

/* Portfolio Filter +++ */

.button-filtr {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-bottom: 34px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
}

.filter h3 {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 24px 4px;
  margin-top: 0px;
}

.filter p {
  color: #757575;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 24px 20px;
}

/* Box */
.filter-item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Overlay */
.overlay-filter-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 90%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.img-overlay {
  position: absolute;
}

.filter-img-overlay {
  position: relative;
  height: 294px;
  width: 370px;
}

.filter-item:hover .overlay-filter-item {
  transform: translateX(0);
}

.overlay-filter-item p {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-top: 49px;
}

.portfolio p {
  padding: 4px 24px 20px 24px;
}

.button-filtr-item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  background-color: #f5f4fa;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
}

.container .button-filtr {
  align-items: center;
}

.filter-item-header {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  z-index: 1001;
  background-color: #fff;
}

.filter .filter-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}


/* Przyciski i linki */

button {
  cursor: pointer;
}

.main button:active,
.main button:hover,
.button-filtr button:active,
.button-filtr button:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}

.link:active,
.link:hover,
.link-menu:active,
.link-menu:hover {
  color: #2196f3;
}

.link-menu {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}

/* Modal Window */

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #fff;
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
}

/* Modal Window - Form */

.modal-form > p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 40px;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-left: 40px;
  margin-bottom: 4px;
  margin-top: 10px;
  color: #757575;
}

.modal-form textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

textarea:focus-visible,
input:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
}

.form-input:focus-within {
  border: 1px solid #2196f3;
}

.modal-form input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  padding-left: 42px;
}

.modal-form textarea {
  height: 120px;
  width: 448px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-form input,
.modal-form textarea {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: block;
}


.icon-form {
  position: absolute;
  left: 52px;
}

.icon-form-avatar {
  height: 12px;
  width: 12px;
  top: 113px;
}

.icon-form-phone {
  height: 13px;
  width: 13px;
  top: 181px;
}

.icon-form-envelope {
  width: 15px;
  height: 12px;
  top: 249px;
}

.modal-form label:focus-within svg,
.modal-form label:hover svg {
  fill: #2196f3;
}

.modal-form button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

/* FOOTER */
footer {
  background: #2f303a;
}

footer > address {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 24px;
}

.logo-white {
  color: #ffffff;
}

.footer .container {
  display: flex;
  padding-top: 60px;
  align-items: start;
}

address p:not(:last-child) {
  margin-bottom: 9px;
}

.footer-white {
  color: white;
}

.address {
  display: inline-block;
  margin-bottom: 60px;
  font-style: normal;
}

.footer h3 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  margin-left: 70px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
}

.icon-footer-list {
  display: flex;
  align-items: center;
  margin-left: 55px;
  list-style-type: none;
}

.icon-footer-item {
  fill: #fff;
}

.footer-social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon:hover {
  background-color: #2196f3;
}

.footer-social-icon:hover svg {
  fill: #FFF;
}

.icon-footer-social {
  width: 20px;
  height: 20px;
  fill: #fff;
}