body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

button {
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 0 15px;
  align-items: center;
}
.button-filtr .container {
  align-items: center;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 0 15px;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0;
    margin: auto;
  }
}
/*
.container {
  width: 1200px;
  align-items: center;
  margin: auto;

  .button-filtr & {
    align-items: center;
  }
}
*/
/*
@media screen and (min-width:480px) and (max-width: 767px) {

}

@media screen and (min-width:768px) and (max-width: 1199px) {

}

@media screen and (min-width:1200px) {

}
*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .section--hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section--hidden {
    display: none;
  }
}
.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #212121;
}
.logo--blue {
  color: #2196f3;
}
.logo--white {
  color: #ffffff;
}

.page-header {
  border-bottom: 1px solid #ececec;
  height: 80px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .page-header {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    display: flex;
  }
}
.nav {
  display: none;
  align-items: center;
  list-style-type: none;
}
.nav__item {
  font-family: "Roboto";
  color: #212121;
  font-weight: 500;
  font-size: 14px;
}
.nav__item--space-margin {
  margin-right: 46px;
}
.nav__link {
  text-decoration: none;
  cursor: pointer;
  color: #212121;
}
.nav__link:active, .nav__link:hover {
  color: #2196f3;
}
.nav__link--active::after {
  content: "";
  display: block;
  position: relative;
  border-top: 4px solid #2196f3;
  border-radius: 2px;
  top: 29.5px;
}

.mobile-navigation {
  margin-left: auto;
}

.mobile-navigation__icon {
  width: 35px;
  height: 35px;
  fill: #212121;
}
.mobile-navigation__icon:hover {
  fill: #2196f3;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile-navigation {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .nav__item {
    font-family: "Roboto";
    color: #212121;
    font-weight: 500;
    font-size: 14px;
  }
  .nav__item--space-margin {
    margin-right: 46px;
  }
  .nav__link {
    text-decoration: none;
    cursor: pointer;
    color: #212121;
  }
  .nav__link:active, .nav__link:hover {
    color: #2196f3;
  }
  .nav__link--active::after {
    content: "";
    display: block;
    position: relative;
    border-top: 4px solid #2196f3;
    border-radius: 2px;
    top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-navigation {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .nav__item {
    font-family: "Roboto";
    color: #212121;
    font-weight: 500;
    font-size: 14px;
  }
  .nav__item--space-margin {
    margin-right: 46px;
  }
  .nav__link {
    text-decoration: none;
    cursor: pointer;
    color: #212121;
  }
  .nav__link:active, .nav__link:hover {
    color: #2196f3;
  }
  .nav__link--active::after {
    content: "";
    display: block;
    position: relative;
    border-top: 4px solid #2196f3;
    border-radius: 2px;
    top: 29.5px;
  }
}
.adress {
  display: none;
  margin-left: auto;
  align-items: center;
  line-height: 80px;
}
.adress__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}
.adress__link:active, .adress__link:hover {
  color: #2196f3;
}
.adress__icon {
  fill: currentcolor;
  margin-right: 10px;
}
.adress__link--space-margin {
  margin-right: 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .adress {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    margin-left: auto;
    flex-wrap: wrap;
    align-items: center;
    line-height: normal;
    display: flex;
    justify-content: left;
    margin-left: 100px;
  }
  .adress__link--space-margin {
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .adress {
    display: inline;
    margin-left: auto;
    align-items: center;
    line-height: 80px;
  }
  .adress__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: #757575;
  }
  .adress__link:active, .adress__link:hover {
    color: #2196f3;
  }
  .adress__icon {
    fill: currentcolor;
    margin-right: 10px;
  }
  .adress__link--space-margin {
    margin-right: 30px;
  }
}
.header-primary {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  line-height: 1, 615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 365px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-primary {
    font-size: 26px;
    line-height: 1, 615;
    max-width: 365px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-primary {
    font-size: 26px;
    line-height: 1, 615;
    max-width: 365px;
  }
}
@media screen and (min-width: 1200px) {
  .header-primary {
    font-size: 44px;
    line-height: 1, 363;
    max-width: 696px;
  }
}
.header-second {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 50px;
  color: #212121;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .header-second {
    font-size: 28px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-second {
    font-size: 28px;
  }
}
@media screen and (min-width: 1200px) {
  .header-second {
    font-size: 36px;
  }
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: #ffffff;
  width: 450px;
  height: 609px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.modal__submit-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 40px 40px 12px;
  width: 370px;
}
.modal-form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-left: 40px;
  margin-bottom: 4px;
  margin-top: 10px;
  color: #757575;
}
.modal-form__label:focus-within svg, .modal-form__label:hover svg {
  fill: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input {
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 370px;
  height: 40px;
  padding-left: 42px;
}
.modal-form__input:focus-within {
  border: 1px solid #2196f3;
}
.modal-form__input:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-form__icon-form {
  position: absolute;
  left: 52px;
}
.modal-form__icon-form--avatar {
  height: 12px;
  width: 12px;
  top: 137px;
}
.modal-form__icon-form--phone {
  height: 13px;
  width: 13px;
  top: 205px;
}
.modal-form__icon-form--envelope {
  width: 15px;
  height: 12px;
  top: 272px;
}
.modal-form__textarea {
  height: 120px;
  width: 370px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: #757575;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  display: block;
}
.modal-form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
}
.modal-form__textarea:hover {
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
}

.modal-form-policy {
  display: flex;
  justify-content: center;
  padding-right: 40px;
  margin-top: 0;
}
.modal-form-policy__checkbox {
  position: absolute;
  opacity: 0;
  width: 448px;
  height: 40px;
}
.modal-form-policy__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-left: 40px;
  margin-bottom: 4px;
  margin-top: 10px;
  color: #757575;
}
.modal-form-policy__text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.modal-form-policy__link {
  color: #2196f3;
}

.modal-form-policy__checkbox:checked + .modal-form-policy__text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }

  .modal-form__title {
    display: flex;
    margin: 40px 40px 12px;
    width: 370px;
    justify-content: center;
  }
  .modal-form__input {
    width: 370px;
  }
  .modal-form__textarea {
    width: 370px;
  }
  .modal-form__icon-form--avatar {
    height: 12px;
    width: 12px;
    top: 137px;
  }
  .modal-form__icon-form--phone {
    height: 13px;
    width: 13px;
    top: 205px;
  }
  .modal-form__icon-form--envelope {
    width: 15px;
    height: 12px;
    top: 272px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }

  .modal-form__title {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .modal-form__input {
    width: 448px;
  }
  .modal-form__textarea {
    width: 448px;
  }
  .modal-form__icon-form--avatar {
    height: 12px;
    width: 12px;
    top: 113px;
  }
  .modal-form__icon-form--phone {
    height: 13px;
    width: 13px;
    top: 181px;
  }
  .modal-form__icon-form--envelope {
    width: 15px;
    height: 12px;
    top: 249px;
  }
}
.hamburger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 1002;
}

.hamburger-container {
  padding-left: 40px;
}
.hamburger-container__link {
  text-decoration: none;
  color: #212121;
}
.hamburger-container__link--active {
  color: #2196f3;
}
.hamburger-container__link--phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.hamburger-container__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}
.hamburger-container__link:active {
  color: #2196f3;
}
.hamburger-container__list {
  list-style-type: none;
}
.hamburger-container__item {
  margin-bottom: 36px;
}
.hamburger-container__item--first {
  margin-top: 202px;
  margin-bottom: 32px;
}
.hamburger-container__item--second {
  margin-bottom: 64px;
}

.hamburger__close-btn {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 21px;
  margin-bottom: 8px;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
.hamburger__close-btn:hover {
  fill: #2196f3;
}

.mobile-navigation__button, .hamburger__close-btn {
  background-color: transparent;
  border: none;
}

.hamburger-social {
  color: #2196f3;
  list-style-type: none;
  display: flex;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  padding-left: 40px;
}
.hamburger-social__item::after {
  content: "";
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin: 0 10px;
}

.js-menu-container.is-open {
  transform: translateX(0);
}

.page-header .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header__logo {
    margin-right: 83px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
  }
}
.bg-image {
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-mobile.jpg");
  background-size: 480px 400px;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-mobile@2x.jpg");
  }
}
/* Mobile */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-mobile.jpg");
    background-size: 480px 400px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 767px), (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 767px) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-mobile@2x.jpg");
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-tablet.jpg");
    background-size: 735px 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-tablet@2x.jpg");
  }
}
/* Desktop */
@media screen and (min-width: 1200px) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-desktop.jpg");
    background-size: 1600px;
    height: 600px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi), (min-width: 1200px) and (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header/header-bg-desktop@2x.jpg");
  }
}
/*-----------------------------------------------------------*/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-modal {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
}
.button-modal__label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 875;
  color: #ffffff;
}
.button-modal:active, .button-modal:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.lorem {
  padding-bottom: 0px;
}

.icon-lorem {
  display: block;
}
.icon-lorem__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-lorem__item {
  flex-basis: auto;
  margin-bottom: 30px;
}
.icon-lorem__bg-svg {
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.icon-lorem__svg {
  height: 70px;
  width: 70px;
}
.icon-lorem__item-text {
  width: 100%;
}
.icon-lorem__title {
  font-family: "Roboto";
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.icon-lorem__lorem-ipsum {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-lorem {
    display: block;
  }
  .icon-lorem__list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .icon-lorem__item {
    flex-basis: calc((100% - 30px) / 2);
  }
  .icon-lorem__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .icon-lorem {
    display: block;
  }
  .icon-lorem__list {
    flex-direction: row;
    justify-content: space-between;
  }
  .icon-lorem__item {
    flex-basis: auto;
  }
  .icon-lorem__bg-svg {
    height: 120px;
    width: 270px;
  }
  .icon-lorem__item-text {
    width: 270px;
    height: 120px;
  }
  .icon-lorem__title {
    text-align: left;
  }
}
.working {
  display: none;
  text-align: center;
}
.working__list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.working__item {
  position: relative;
}
.working__overlay {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
  top: 75%;
}

@media screen and (min-width: 1200px) {
  .working {
    display: inline;
  }
}
.our-team {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.our-team--bg {
  background: #F5F4FA;
}

.team {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team:not(:last-child) {
  margin-bottom: 30px;
}
.team__name {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
}
.team__job {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 187;
  text-align: center;
  color: #757575;
}
.team__social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 30px 30px;
}
.team__social-item {
  justify-content: space-around;
}
.team__social-item:not(:last-child) {
  margin-right: 10px;
}
.team__social-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.team__social-icon--hover:hover {
  background-color: #2196f3;
}
.team__social-icon:hover svg {
  fill: #ffffff;
}
.team__social-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

/* Mobile */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__img {
    width: 450px;
    height: 460px;
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team {
    justify-content: space-between;
  }

  .team {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 30px;
  }
  .team__img {
    min-width: 100%;
  }
}
/* Desktop */
@media screen and (min-width: 1200px) {
  .our-team {
    justify-content: space-between;
  }

  .team:not(:last-child) {
    margin-bottom: auto;
  }
  .team__img {
    width: "270";
    height: "260";
  }
  .team__social-list {
    justify-content: space-between;
  }
  .team__social-item {
    display: flex;
    justify-content: space-around;
  }
}
.our-customers {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.our-customers__item {
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 30px) / 2);
  margin-bottom: 30px;
}
.our-customers__item:hover, .our-customers__item:hover svg {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}
.our-customers__icon {
  width: 106px;
  height: 60.04px;
  fill: #AFB1B8;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .our-customers__item {
    width: 210px;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-customers__item {
    width: 226px;
    flex-basis: calc((100% - 30px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .our-customers__item {
    width: 170px;
    flex-basis: auto;
  }
}
.page-footer {
  background: #2f303a;
  height: 100%;
}

.page-footer .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container {
  text-align: center;
  padding-top: 60px;
}

.page-footer__logo {
  margin-bottom: 20px;
  justify-content: center;
}

.footer-title {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    height: 252px;
  }

  .page-footer .container {
    align-items: start;
    flex-direction: row;
  }

  .footer-container {
    text-align: left;
  }

  .page-footer__logo {
    justify-content: normal;
  }

  .footer-title {
    margin-left: 70px;
  }
}
.address-footer {
  display: block;
}
.address-footer__street {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400px;
  font-size: 14px;
  color: #ffffff;
}
.address-footer__link {
  font-family: "Roboto";
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
}
.address-footer__link:active, .address-footer__link:hover {
  color: #2196f3;
}
.address-footer--space-margin {
  margin-bottom: 9px;
}

.social-media-footer {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.social-media-footer__item {
  fill: #ffffff;
}
.social-media-footer__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 44px;
  height: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-media-footer__icon--link {
  text-decoration: none;
  cursor: pointer;
  color: #757575;
}
.social-media-footer__icon:hover {
  background-color: #2196f3;
}
.social-media-footer__icon:hover svg {
  fill: #ffffff;
}
.social-media-footer__svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-media-footer {
    margin-left: 55px;
  }
}
.newsletter-footer {
  display: flex;
  align-items: center;
}

.newsletter {
  display: block;
}
.newsletter__email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 450px;
  height: 50px;
  background-color: transparent;
  color: #757575;
  padding: 16px;
  margin-bottom: 20px;
}
.newsletter__email--focus:focus {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.newsletter-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  color: #ffffff;
  line-height: 1.87;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  margin: auto;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 0px;
  cursor: pointer;
  margin-bottom: 60px;
}
.newsletter-btn__icon {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  position: relative;
  left: 15px;
  top: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter-footer {
    margin-left: 70px;
  }

  .newsletter__email {
    width: 358px;
  }
  .newsletter .newsletter-btn {
    margin-left: 12px;
  }
}
.button-filtr {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding-bottom: 34px;
}
.button-filtr__item:not(:last-child) {
  margin-bottom: 15px;
  margin-right: 15px;
}
.button-filtr__text {
  background-color: #F5F4FA;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
}
.button-filtr__text:active, .button-filtr__text:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
.grid__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.grid__img {
  position: absolute;
}
.grid__overlay {
  position: relative;
  height: 294px;
  width: 370px;
}
.grid__overlay-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  opacity: 90%;
  transform: translatey(100%);
  transition: transform 250ms ease;
}
.grid__overlay-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 49px;
  padding: 4px 24px 20px 24px;
}
.grid__header {
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  background-color: #ffffff;
  z-index: 1001;
}
.grid__name {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 24px 4px;
  margin-top: 0px;
}
.grid__type {
  color: #757575;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin: 0px 24px 20px;
}

.grid__item:hover .grid__overlay-item {
  transform: translateX(0);
}

.grid .grid__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-filtr {
    justify-content: center;
  }
  .button-filtr__item:not(:last-child) {
    margin-right: 8px;
  }

  .grid {
    justify-content: space-between;
  }
  .grid__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .button-filtr {
    justify-content: center;
  }
  .button-filtr__item:not(:last-child) {
    margin-right: 8px;
  }

  .grid {
    justify-content: space-between;
  }
}/*# sourceMappingURL=main.css.map */