.address-footer {
  display: block;

  &__street {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400px;
    font-size: 14px;
    color: getColor('secondary');
  }

  &__link {
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);

    &:active, 
    &:hover {
      color: getColor('primary');
    }
  }

  &--space-margin {
    margin-bottom: 9px;
  }
}