.page-header .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  
}

.navigation {
  display: flex;
}

@media screen and (min-width:480px) and (max-width: 767px) {

}

@media screen and (min-width:768px) and (max-width: 1199px) {
.page-header__logo {
  margin-right: 83px;
}
}

@media screen and (min-width:1200px) {
.page-header__logo {
  margin-right: 93px;
}
}