
.our-team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-team--bg {
  background: #f5f4fa;
}

.team {
  display: inline-block;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.team__job {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #757575;
}

/*------------ Social Media ------------*/

.team__social-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 30px 30px;
  
}

.team__social-item {
  display: flex;
  justify-content: space-around;
}

.team__social-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.team__social-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.team__social-icon--hover:hover {
  background-color: #2196f3;
}

.team__social-icon:hover svg {
  fill: #fff;
}
