.our-customers {
  list-style-type: none;
  display: flex;
  justify-content: space-between;

  &__item {
    width: 170px;
    height: 92px;
    border: 1px solid getColor('icon-grey');
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:hover svg {
      fill: getColor('primary');
      border-color: getColor('primary');
      cursor: pointer;
    }
  }

  &__icon {
    width: 106px;
    height: 60.04px;
    fill: getColor('icon-grey');
  }
}