.our-customers {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.our-customers__item {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-customers__icon {
  width: 106px;
  height: 60.04px;
  fill: #AFB1B8;
}

.our-customers__item:hover,
.our-customers__item:hover svg {
  fill: #2196f3;
  border-color: #2196f3;
  cursor: pointer;
}