@import '../utils/variables';

.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #212121;

  &--blue {
    color: getColor('logo-b');
  }

  &--white {
    color: getColor('logo-w');
  }

}