.logo {
  display: flex;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: getColor('black');

  &--blue {
    color: getColor('primary');
  }

  &--white {
    color: getColor('secondary');
  }
}