.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  background-color: getColor('secondary');
  width: 80%;
  height: 609px;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;

  &__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: getColor('secondary');
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor: pointer;
  }

  &__submit-btn {
    width: 200px;
    height: 50px;
    background: getColor('primary');
    color: getColor('secondary');
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    margin: auto;
    margin-top: 30px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  }
}

.modal-form {
  display: flex;
  flex-direction: column;

    &__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('black');
    margin: 40px 40px 12px;
    width: 370px;
  }
  
  &__label {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: getColor('grey');

    &:focus-within svg,
    &:hover svg {
      fill: getColor('primary');
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__input {
    color: getColor('grey');
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 370px;
    height: 40px;
    padding-left: 42px;

    &:focus-within {
      border: 1px solid getColor('primary');
    }

    &:hover {
      border: 1px solid getColor('primary');
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus-visible {
      outline: none;
      border: 1px solid getColor('primary');
    }
  }

  &__icon-form {
    position: absolute;
    left: 52px;

    &--avatar {
      height: 12px;
      width: 12px;
      top: 137px;
    }

    &--phone {
      height: 13px;
      width: 13px;
      top: 205px;
    }

    &--envelope {
      width: 15px;
      height: 12px;
      top: 272px;
    }
  }

  &__textarea {
    height: 120px;
    width: 370px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: getColor('grey');
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    display: block;

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
      font-size: 12px;
      line-height: 1.16;
    }

    &:hover {
      border: 1px solid getColor('primary');
      border-radius: 4px;
      transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:focus-visible {
      outline: none;
      border: 1px solid getColor('primary');
    }
  }
}

.modal-form-policy {
  display: flex;
  justify-content: center;
  padding-right: 40px;
  margin-top: 0;

  &__checkbox {
    position: absolute;
    opacity: 0;
    width: 448px;
    height: 40px;
  }

  &__text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-left: 40px;
    margin-bottom: 4px;
    margin-top: 10px;
    color: getColor('grey');

    &::before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 15px;
    border-radius: 2px;
    margin-right: 7px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    }
  }
  
  &__link {
    color: getColor('primary');
  }
}

.modal-form-policy__checkbox:checked + .modal-form-policy__text::before {
  background-color: getColor('primary');
  border: none;
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width:480px) and (max-width: 767px) {
.modal {
  width: 450px;
}
}


@media screen and (min-width:768px) and (max-width: 1199px) {
.modal {
  width: 450px;
  height: 609px;
}

.modal-form {
  &__title {
    display: flex;
    margin: 40px 40px 12px;
    width: 370px;
    justify-content: center;
  }

  &__input {
    width: 370px;
  }

  &__textarea {
    width: 370px;
  }

  &__icon-form {
    
    &--avatar {
      height: 12px;
      width: 12px;
      top: 137px;
    }

    &--phone {
      height: 13px;
      width: 13px;
      top: 205px;
    }

    &--envelope {
      width: 15px;
      height: 12px;
      top: 272px;
    }
  }
}
}

@media screen and (min-width:1200px) {
.modal {
  width: 528px;
  height: 581px;
}

.modal-form {
  &__title {
    display: flex;
    flex-direction: column;
    width: auto;
  }

  &__input {
    width: 448px;
  }

  &__textarea {
    width: 448px;
  }

  &__icon-form {
    
    &--avatar {
      height: 12px;
      width: 12px;
      top: 113px;
    }

    &--phone {
      height: 13px;
      width: 13px;
      top: 181px;
    }

    &--envelope {
      width: 15px;
      height: 12px;
      top: 249px;
    }
  }
}
}