.adress {
  margin-left: auto;
  align-items: center;
  line-height: 80px;

  &__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: #757575;
  }

  &__icon {
  fill: currentcolor;
  margin-right: 10px;
  }

  &__link--space-margin {
  margin-right: 30px; 
  }
}

.adress__link:active,
.adress__link:hover {
  color: #2196f3;
}