.adress {
  margin-left: auto;
  align-items: center;
  line-height: 80px;

  &__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    color: getColor('grey');

    &:active, 
    &:hover {
      color: getColor('primary');
    }
  }

  &__icon {
    fill: currentcolor;
    margin-right: 10px;
  }

  &__link--space-margin {
    margin-right: 30px; 
  }
}

@media screen and (min-width:480px) and (max-width: 767px) {

}

@media screen and (min-width:768px) and (max-width: 1199px) {

}

@media screen and (min-width:1200px) {

}