.header-primary {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
  text-align: center;
  color: getColor('secondary');
  line-height: 1,615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 365px;
}

@media screen and (min-width:480px) and (max-width: 767px) {
 .header-primary {
  font-size: 26px;
  line-height: 1,615;
  max-width: 365px;
}
}

@media screen and (min-width:768px) and (max-width: 1199px) {
  .header-primary {
  font-size: 26px;
  line-height: 1,615;
  max-width: 365px;
}
}

@media screen and (min-width:1200px) {
  .header-primary {
  font-size: 44px;
  line-height: 1,363;
  max-width: 696px;
}
}